*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: rgb(114, 62,40);
    font-size: 25px;
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
}

#container {
    width: 90%;
    margin: 20px auto;
}

ul{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-left: 20px;
}

 ul li{
    list-style-type: none;
    padding: 0px 5px 10px 5px;
    font-size: 0.9 rem;
}