                                                                 html {
                                                             height: 100%;
                                                             overflow-y: hidden;
                                                         }
                                                         
                                                         body {
                                                             margin: 0;
                                                             height: 100%;
                                                             display: flex;
                                                             flex-direction: column;
                                                             background-color: black;
                                                             flex: 1;
                                                         }
                                                         
                                                         .part2 {
                                                             margin: 0;
                                                             flex: 1;
                                                         }
                                                         
                                                         .part1 {
                                                             margin: 0;
                                                             background-size: cover;
                                                             background-position: center bottom;
                                                             background-image: url("./v2_8.png");
                                                             flex: 0.3;
                                                         }
                                                         
                                                         .part1 li {
                                                             display: inline;
                                                         }
                                                         
                                                         h2 {
                                                             padding-top: 30px;
                                                             padding-bottom: 0px;
                                                             text-align: center;
                                                             font-size: 2.5rem;
                                                             color: #FFFFFF;
                                                         }
                                                         
                                                         .footer {
                                                             flex: 0.3;
                                                             height: 400px;
                                                             background-size: cover;
                                                             background-position: center bottom;
                                                             background-image: url("./v2_8.png");
                                                         }
                                                         
                                                         #video-container {
                                                             position: relative;
                                                             margin-left: 20%;
                                                         }
                                                         
                                                         #main {
                                                             text-align: center;
                                                         }
                                                         
                                                         @media(max-width:500px) {
                                                             body {
                                                                 grid-template-columns: repeat(1, 1fr);
                                                             }
                                                             @media(max-width:700px) {
                                                                 body {
                                                                     grid-template-columns: repeat(2, 1fr);
                                                                 }