


#id209410181 img {
	width: 13%;
	float: middle;
	margin: 2.5%;
}



p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 10px solid #f1f15f;
	width: 20%;
	padding-bottom: 20px;
}